# =====================
# IDEs
# =====================
.idea/
.vscode/

# =====================
# Python
# =====================
__pycache__/
*.pyc
.venv/

# =====================
# Entornos
# =====================
.env

# =====================
# Logs / temporales
# =====================
*.log
