<nav class="barra-navegacion-inferior">

    <!-- 1) HOME-->
    <!--====================================================================================-->
    <a href="#" class="item-navegacion activo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
            <polyline points="9 22 9 12 15 12 15 22"/>
        </svg>
        <span>Inicio</span>
    </a>

    <!-- 2) USUARIOS  -->
    <!--====================================================================================-->
    <a href="#" class="item-navegacion">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-file-input-icon lucide-file-input">
            <path d="M4 11V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.706.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-1"/>
            <path d="M14 2v5a1 1 0 0 0 1 1h5"/>
            <path d="M2 15h10"/>
            <path d="m9 18 3-3-3-3"/>
        </svg>
        <span>Pendientes</span>
        <div class="indicador-navegacion" id="solicitudes-nuevas"></div>
    </a>

    <!-- 3) HISTORIAL -->
    <!--====================================================================================-->
    <a href="#" class="item-navegacion">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-clipboard-clock-icon lucide-clipboard-clock">
            <path d="M16 14v2.2l1.6 1"/>
            <path d="M16 4h2a2 2 0 0 1 2 2v.832"/>
            <path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h2"/>
            <circle cx="16" cy="16" r="6"/>
            <rect x="8" y="2" width="8" height="4" rx="1"/>
        </svg>
        <span>Historial</span>
        <div class="indicador-navegacion" id="matches-aceptados-denegados"></div>
    </a>
</nav>
